.main_container {
  padding-bottom: 2rem;
  background-color: var(--dark-color);
  width: 100%;
}

.white_theme {
  background-color: var(--white-color);
}
.brown_theme {
  background-color: var(--white-color);
}

.projects {
  margin: 2rem;
  padding: 1rem;
}
