.projects_section {
  margin: 1rem 1rem;
}

.card_container {
  display: block;
  border: 0.1px solid var(--border-color);
  padding: 1rem;
  gap: 1rem;
}

.projects_section .card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.projects_section .card .image {
  width: 100%;
  height: auto;
  position: relative;
}

.projects_section .card .image img {
  width: 100%;
  height: auto;
}

.projects_section .card .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.projects_section .card .overlay:hover {
  opacity: 1;
}

.link_icon {
  font-size: 30px;
  font-weight: 500;
  color: var(--dark-color);
}

.projects_section .card h4 {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
  text-align: center;
  padding: 0.1rem 0;
  margin-top: 0.5rem;
}

.white_theme .card h4 {
  color: var(--dark-color);
}

.brown_theme .card h4 {
  color: var(--dark-color);
}

.link_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_btn {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-color);
  text-align: center;
  padding: 0.3rem 0.6rem;
  border-bottom: 0.5px solid var(--border-color);
  text-decoration: none;
  margin-top: 0.4rem;
}

.project_btn:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.white_theme .project_btn {
  color: var(--dark-color);
}

.white_theme .project_btn:hover {
  background-color: var(--success-color);
  color: var(--white-color);
}

.brown_theme .project_btn {
  color: var(--dark-color);
}

.brown_theme .project_btn:hover {
  background-color: var(--brown-color);
  color: var(--dark-color);
}

.active_btn {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 0.5px solid var(--blue-color);
}

.white_theme .active_btn {
  border-bottom: 0.5px solid var(--success-color);
}

.brown_theme .active_btn {
  border-bottom: 0.5px solid var(--brown-color);
}

@media (min-width: 600px) {
  .project {
    max-width: 800px;
    margin: auto;
  }

  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .card .image img {
    max-width: 15rem;
    display: block;
    margin: auto;
    height: auto;
  }
}

@media (min-width: 700px) {
  .projects_section {
    max-width: 800px;
    margin: auto;
  }
}
